.plan
  &-cards
    // border-top: 1px dashed $gray
    // border-radius: 120px
    // background:  url('../img/plan.png') 56% no-repeat
    // position: relative
    margin-top: 75px
  &-card
    display: flex
    justify-content: center
    flex-direction: column
    transition: .5s
    &:hover
      .plan
        &-card
          &-circle
            transition: .5s
            background-color: $blue
            &-wraper
              transition: .5s
              border: 1px dashed $blue
    &-air
      // position: absolute
      // margin-top: 16px
      // height: 170px
      // border-top: 1px dashed $gray
      // border-right: 1px dashed $gray
      height: 10px
      border-top: 1px dashed $gray
      width: 728px
      z-index: 5
      position: absolute
      right: 143px
      top: -1px
      &-parent
        position: relative
      &-left
        position: absolute
        height: 125px
        width: 125px
        left: 142px
        top: -1px
        border-top: 1px dashed $gray
        border-left: 1px dashed $gray
        border-top-left-radius: 120px
    &-bottom
      margin-top: 123px

    &-circle
      width: 20px !important
      height: 20px !important
      // padding: 7px
      // margin: 7px
      // margin: auto
      border-radius: 50%
      transition: .5s
      background-color: $gray
      &-wraper
        border-radius: 50%
        border: 1px dashed $gray
        width: 34px
        height: 34px
        display: flex
        justify-content: center
        align-items: center
        margin: auto
        background-color: $white
        z-index: 2
        transition: .5s
        //начало линий
        position: relative
        &::after
          position: absolute
          content: ''
          width: 251px
          left: 33px
          border-top: 1px dashed $gray
          z-index: 5
        &-last
          position: relative
          &::after
            position: absolute
            content: ''
            width: 0
            
    &-border
      &-right
        width: 100%
        height: 170px
        border-radius: 85px
        border-right: 1px dashed $gray
        border-top: 1px dashed $gray
        border-bottom: 1px dashed $gray
        position: relative
        margin-top: 17px
        margin-left: 1.8px
        &-white
          &-left
            position: absolute
            width: 50%
            height: 101%
            left: 0
            background-color: $white
            z-index: 4
          // &-right
          //   position: absolute
          //   width: 50%
          //   height: 101%
          //   right: 0
          //   background-color: $white
          //   z-index: 3
    &-description
      text-align: center
      font-weight: 400
      font-size: 16px
      margin-top: 19px
