.plan
  &-cards
    // border-top: 1px dashed $gray
    // border-radius: 120px
    background:  url('../img/plan.png') center center no-repeat
  &-card
    display: flex
    justify-content: center
    flex-direction: column
    
    &-circle
      width: 20px !important
      height: 20px !important
      // padding: 7px
      // margin: 7px
      // margin: auto
      border-radius: 50%
      
      background-color: $gray
      &-wraper
        border-radius: 50%
        border: 1px dashed $gray
        width: 34px
        height: 34px
        display: flex
        justify-content: center
        align-items: center
        margin: auto
    &-description
      text-align: center
      font-weight: 400
      font-size: 16px
      margin-top: 19px
