@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 10px;
  width: 10px;
  border: 4px solid #ffffff;
}

a:hover {
  text-decoration: none;
}

button {
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 117, 255, 0.2);
          box-shadow: 0px 5px 10px 3px rgba(0, 117, 255, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
  color: #0075FF;
  background-color: #fff;
  border: 2px solid #0075FF;
}

button:hover a {
  color: #0075FF;
}

.padd-card {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button {
  background-color: #0075FF;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button a {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.section-description {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.air {
  height: 80px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.header-item-mobile {
  display: none;
}

.header-mail-link {
  text-align: right;
}

.header-mail-link a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px dotted #000;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.header-mail-link a:hover {
  color: #0075FF;
  border-bottom: 1px dotted #0075FF;
}

.header-top {
  padding-top: 14px;
  padding-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-logo:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #0075FF;
}

.header-logo-description {
  font-weight: 200;
  font-size: 12px;
  margin-top: -6px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contact a {
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-contact a:hover {
  color: #0075FF;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-nav-wraper {
  background-color: #C4C4C4;
  padding: 0;
  margin-bottom: -20px;
  margin-top: 12px;
}

.header-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav ul li a {
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.06px;
  color: #000;
}

.hero {
  background: #F8F8F8 url("../img/Union.jpg") center center no-repeat;
  background-size: 42%;
  min-height: 524px;
}

.hero-wraper {
  width: 100%;
  height: 100%;
  padding-top: 127px;
  max-width: 951px;
  margin: auto;
  text-align: center;
}

.hero-wraper h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 31px;
}

.hero-wraper p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 31px;
}

.hero-wraper button {
  width: 308px;
  margin: auto;
}

.services-card {
  margin-top: 41px;
  height: 100%;
}

.services-card-img {
  max-height: 243px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #F8F8F8;
}

.services-card-img img {
  width: 100%;
  padding: 19px;
}

.services-card-description {
  margin-top: 15px;
}

.services-card-description p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.services-card-description p:nth-child(2) {
  font-weight: 400;
}

.remotely {
  background-color: #F8F8F8;
}

.remotely-cards {
  margin-top: 25px;
}

.remotely-card {
  position: relative;
  background-color: #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-height: 165.51px;
}

.remotely-card-big {
  height: 100%;
  max-height: 390px;
  width: 100%;
}

.remotely-card-big img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 37px !important;
}

.remotely-card-middle img {
  padding: 25% !important;
}

.remotely-card a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.remotely-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 11.5px;
}

.calculate-content {
  margin-top: 43px;
}

.calculate-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.calculate-description-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculate-description-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 27px;
}

.calculate-description-input input {
  height: 6px;
  cursor: pointer;
}

.calculate-description-input label {
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  font-weight: 400;
}

.calculate-card p {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.calculate-card p:nth-child(2n) {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.calculate-card p:nth-child(6n) {
  margin-bottom: 0;
}

.questions-wraper button {
  width: 428px;
  display: block;
  margin: auto;
}

.questions-content {
  margin-bottom: 40px;
  margin-top: 46px;
}

.questions-content p {
  margin-top: 15px;
}

.questions-content label {
  margin-left: 14px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.choose {
  background-color: #F8F8F8;
}

.choose-cards {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-card {
  height: 100%;
}

.choose-card-img {
  max-width: 124px;
  max-height: 69px;
  margin: auto;
}

.choose-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.choose-card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 41px;
  min-height: 108px;
  margin-bottom: 0;
}

.plan-cards {
  margin-top: 75px;
}

.plan-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
}

.plan-card:hover .plan-card-circle {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #0075FF;
}

.plan-card:hover .plan-card-circle-wraper {
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px dashed #0075FF;
}

.plan-card-air {
  height: 10px;
  border-top: 1px dashed #C4C4C4;
  width: 728px;
  z-index: 5;
  position: absolute;
  right: 143px;
  top: -1px;
}

.plan-card-air-parent {
  position: relative;
}

.plan-card-air-left {
  position: absolute;
  height: 125px;
  width: 125px;
  left: 142px;
  top: -1px;
  border-top: 1px dashed #C4C4C4;
  border-left: 1px dashed #C4C4C4;
  border-top-left-radius: 120px;
}

.plan-card-bottom {
  margin-top: 123px;
}

.plan-card-circle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #C4C4C4;
}

.plan-card-circle-wraper {
  border-radius: 50%;
  border: 1px dashed #C4C4C4;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #fff;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.plan-card-circle-wraper::after {
  position: absolute;
  content: '';
  width: 251px;
  left: 33px;
  border-top: 1px dashed #C4C4C4;
  z-index: 5;
}

.plan-card-circle-wraper-last {
  position: relative;
}

.plan-card-circle-wraper-last::after {
  position: absolute;
  content: '';
  width: 0;
}

.plan-card-border-right {
  width: 100%;
  height: 170px;
  border-radius: 85px;
  border-right: 1px dashed #C4C4C4;
  border-top: 1px dashed #C4C4C4;
  border-bottom: 1px dashed #C4C4C4;
  position: relative;
  margin-top: 17px;
  margin-left: 1.8px;
}

.plan-card-border-right-white-left {
  position: absolute;
  width: 50%;
  height: 101%;
  left: 0;
  background-color: #fff;
  z-index: 4;
}

.plan-card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 19px;
}

.work {
  overflow: hidden;
  background-color: #F8F8F8;
}

.work-cards {
  margin-top: 21px;
}

.work-card-text {
  margin-top: 15px;
}

.work-card-text h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.work-card-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-card-text button {
  margin-top: 27px;
  width: 262px;
}

.work-card-img {
  max-height: 180px;
}

.work-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-card-img-big {
  max-height: 390px;
}

.work-card-img-big img {
  width: 100%;
}

.work-control-prev {
  width: 10%;
  left: -10%;
}

.work-control-next {
  width: 10%;
  right: -10%;
}

.carousel-control-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -15% !important;
}

.smart-content-img {
  min-height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
}

.smart-content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 60px;
}

.smart-content-description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smart-content-description h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.smart-content-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.team-cards {
  margin-top: 100px;
}

.team-card {
  margin-bottom: 40px;
}

.team-card-img {
  width: 216px;
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: #F8F8F8;
  margin: auto;
}

.team-card-img img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-card p {
  font-weight: 700;
  line-height: 54px;
  font-size: 36px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 0;
}

.team-card p:nth-child(3n) {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin-top: 0;
}

.footer {
  background-color: #F8F8F8;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.footer-item p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

.footer-item p:nth-child(2n) {
  font-weight: 400;
  margin-bottom: 7px;
}

.footer-item a {
  color: #000;
}

.footer-mail {
  margin-top: 12px;
  display: inline-block;
}

.footer-mail a {
  border-bottom: 1px dashed #C4C4C4;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-mail a:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #0075FF;
  border-bottom: 1px dashed #0075FF;
}

.footer-mail-wraper {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content-description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-description-img {
  display: inline-block;
  background-color: #C4C4C4;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 19px;
  margin-top: 9px;
}

.footer-content-img {
  background-color: #C4C4C4;
  min-height: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.footer-content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-policy p {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.modal-custom-active {
  display: block;
}

.modal-custom-dialog {
  margin-top: 77px;
  margin-bottom: 77px;
}

.modal-custom-dialog-content {
  background-color: #F8F8F8;
  padding: 59px 71px;
  position: relative;
}

.modal-custom-dialog-content-close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modal-custom-dialog-content-close::after {
  position: absolute;
  top: 13px;
  content: '';
  width: 25px;
  height: 1px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-custom-dialog-content-close::before {
  position: absolute;
  top: 13px;
  content: '';
  width: 25px;
  height: 1px;
  background-color: #000;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.modal-custom-dialog-content-description h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 22px;
}

.modal-custom-dialog-content-description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}

.modal-custom-dialog-content-description-img {
  margin: auto;
  max-width: 100%;
  max-height: 424px;
  border-radius: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C4C4C4;
  overflow: hidden;
}

.modal-custom-dialog-content-description-img img {
  width: 100%;
}

.modal-custom-dialog-content-description form input {
  width: 100%;
  background-color: #F8F8F8;
  color: #000;
  border: 1px solid #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 14px;
  margin-bottom: 27px;
}

.modal-custom-dialog-content-description form input:nth-child(3n) {
  margin-bottom: 46px;
}

.modal-custom-dialog-content-description form button {
  width: 370px;
}

@media screen and (max-width: 1200px) {
  .remotely-card {
    max-height: 137.67px;
  }
  .remotely-card-big {
    max-height: 335px;
  }
  .plan-card-circle-wraper::after {
    width: 205px;
  }
  .plan-card-circle-wraper-last::after {
    width: 0;
  }
  .plan-card-air {
    right: 121px;
    width: 593px;
  }
  .plan-card-air-left {
    left: 119.5px;
  }
}

@media screen and (max-width: 992px) {
  .modal-custom-dialog-content-description h3 {
    font-size: 20px;
  }
  .modal-custom-dialog-content-description p {
    font-size: 14px;
  }
  .modal-custom-dialog-content-description form input {
    font-size: 14px;
  }
  .modal-custom-dialog-content-description form button {
    width: 100%;
  }
  .plan-card-circle-wraper::after {
    width: 145px;
  }
  .plan-card-circle-wraper-last::after {
    width: 0;
  }
  .plan-card-air {
    right: 100px;
    width: 402px;
  }
  .plan-card-air-left {
    left: 90.5px;
  }
  .plan-card-border-right {
    margin-left: -8.2px;
    margin-top: 16px;
  }
  .d-none-md {
    display: none;
  }
  .section-title {
    font-size: 20px;
  }
  .section-description {
    font-size: 14px;
  }
  .button {
    font-size: 14px;
  }
  .header-nav-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #fff;
    margin-bottom: 0;
  }
  .header-item-mobile {
    display: block;
  }
  .hero-wraper h1 {
    font-size: 36px;
  }
  .hero-wraper p {
    font-size: 20px;
  }
  .services-card {
    margin-top: 20px;
  }
  .services-card-description p {
    font-size: 12px;
  }
  .remotely-card a {
    font-size: 10px;
  }
  .calculate-description {
    font-size: 14px;
  }
  .calculate-description-input label {
    font-size: 14px;
  }
  .calculate-card p {
    font-size: 14px;
  }
  .calculate-card p:nth-child(2n) {
    font-size: 18px;
  }
  .questions-content p {
    font-size: 14px;
  }
  .questions-content label {
    font-size: 14px;
  }
  .choose-card-description {
    margin-top: 20px;
    font-size: 14px;
  }
  .plan-card-description {
    font-size: 14px;
  }
  .work-card-text h4 {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .work-card-text p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .work-card-text button {
    margin-top: 15px;
  }
  .smart-content-description h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .smart-content-description p {
    font-size: 14px;
    line-height: 20px;
  }
  .smart-content-img {
    min-height: 10px;
  }
  .team-card-img {
    width: 150px;
    height: 150px;
  }
  .team-card p {
    font-size: 24px;
  }
  .team-card p:nth-child(3n) {
    font-size: 14px;
  }
  .footer-item p {
    font-size: 14px;
  }
  .footer-item a {
    font-size: 14px;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer-content-img {
    min-height: 10px;
  }
  .footer-content-description-img {
    margin-right: 5px;
  }
  .footer-mail a {
    font-size: 14px;
  }
  .footer-mail-wraper {
    margin-bottom: 15px;
  }
  .footer-policy p {
    font-size: 10px;
  }
  .nav-item {
    text-align: right;
  }
  .nav-link {
    font-size: 14px !important;
    padding: 15px 0px !important;
  }
  .remotely-card {
    max-height: 101px;
  }
  .remotely-card-big {
    max-height: 335px;
  }
}

@media screen and (max-width: 768px) {
  .d-none-sm {
    display: none;
  }
  .plan-cards {
    margin-top: 0;
  }
  .plan-card {
    margin-top: 100px;
  }
  .plan-card-bottom {
    margin-top: 100px;
  }
  .plan-card-circle-wraper::after {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    left: -56px;
    top: 104px;
  }
  .plan-card-border-right {
    display: none;
  }
  .plan-card-air-parent {
    display: none;
  }
  .button {
    height: 40px;
    font-size: 14px;
    font-weight: 500;
  }
  .button a {
    line-height: 40px;
  }
  .section-title {
    font-size: 18px;
  }
  .hero {
    min-height: 10px;
  }
  .hero-wraper {
    padding-top: 50px;
  }
  .hero-wraper button {
    margin-bottom: 20px;
  }
  .hero-wraper h1 {
    font-size: 32px;
  }
  .hero-wraper p {
    font-size: 16px;
    line-height: 24px;
  }
  .remotely-card {
    max-height: 145px;
  }
  .calculate-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .smart-content-description {
    margin-top: 20px;
  }
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-content-description {
    margin-top: 20px;
  }
  .work-card-text button {
    width: 100%;
  }
  .questions-wraper button {
    width: 100%;
  }
  .hero-wraper button {
    width: 100%;
  }
  .remotely-card-big img {
    padding: 11.5px !important;
  }
  .remotely-card-middle img {
    padding: 11.5px !important;
  }
}

@media screen and (max-width: 576px) {
  .modal-custom-dialog {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .modal-custom-dialog-content {
    padding: 10px 10px;
  }
  .plan-card-circle-wraper::after {
    left: -71px;
    top: 120px;
    width: 175px;
  }
  .plan-card-circle-wraper-last::after {
    width: 0;
  }
  .hero-wraper h1 {
    font-size: 24px;
  }
  .hero-wraper p {
    font-size: 14px;
  }
  .work-container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .work-cards {
    margin-top: 0;
  }
  .work-card-text {
    margin-top: 0;
  }
  .work-card-text p {
    font-size: 12px;
  }
  .work-control-prev img {
    width: 15px;
    height: 25px;
  }
  .work-control-next img {
    width: 15px;
    height: 25px;
  }
  .team-cards {
    margin-top: 20px;
  }
  .team-card {
    margin-bottom: 10px;
  }
  .team-card p {
    margin-top: 10px;
  }
  .questions-wraper button {
    font-size: 12px;
  }
  .choose-card-description {
    min-height: 10px;
    margin-bottom: 10px;
  }
  .calculate-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculate-card p:nth-child(2n) {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */